body{
    padding: 0;
    margin: 0;

}

header{
    margin: 0;
    padding-top: 0;
    text-align: center;
    background-color: red;
    border-bottom: solid black 4px;
}
h1{
    margin-top: 0;
}
.p1{
    font-size: 20px;

}


main{
    margin: 0 auto;
    background-color: orange;


}

.tripulacao{
    max-width: 100%;

}
.title1{
    text-align: center;
}
.sobre{
    font-size: 20px;
    border-bottom: 3px solid black;
}
.am{
    text-align: center;

}
.capitao{
    display: flex;
    flex-direction: column;
    align-items: center; 
    
    

}

.luffy{
    border: 2px solid black;
    
       
}

#capitao-img {
    
    width: 500px;
    height: 500px;
    object-fit: cover;

}
.luffy-t{
    
    text-align: left;
    border-top: 5px solid black;
    margin: 0px;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 15px;
    
}